@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vend+Sans:wght@300..700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    /* button reset */

    /* Remove default browser styling */
    -webkit-appearance: none;             /* For Webkit browsers (Chrome, Safari) */
    -moz-appearance: none;                /* For Firefox */
    appearance: none;                     /* Standard property */

    /* Remove default styles */
    border: none;
    background: none;
    outline: none;                        /* will need custom focus for accessibility */
    box-shadow: none;

    /* Inherit font styles from parent */
    font: inherit;
    color: inherit;
    text-align: inherit;

    cursor: pointer;
}

body {
    font-family: 'Vend Sans', sans-serif;

    display: flex;
    flex-direction: column;
    
    min-height: 100vh;
}

h2 {
    /* should be class(es) eventually */
    font-family: 'Orbitron', sans-serif;
    font-size: 2rem;
    margin-bottom: 1.5em;
    text-align: center;
    background-color: silver;
    padding: 1em 0;
}

p {
    margin-bottom: 1em;
}

.header {
    background-image: linear-gradient(to right, silver 25%, rgb(68, 185, 227));

    font-family: 'Orbitron', sans-serif;
    font-size: 1.5rem;

    padding: 0.5em;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 2px solid black;
}

.header__title:hover {
    text-shadow: 10px 0px 30px blue;
    cursor: default;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-item {
    margin: 0 1em;
    position: relative;
}

.nav-item:not(:last-child)::after {
    content: '|';
    position: absolute;
    right: -1.1em;
    color: gray;
}

.nav-link {
    color: rgb(69, 69, 69);
    text-decoration: none;
}

.nav-link:hover {
    color: rgb(95, 95, 95);
    cursor: pointer;
}

.main {
    background-image: radial-gradient(silver, rgb(66, 130, 183));
    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background-image: linear-gradient(to right, silver 25%, rgb(68, 185, 227));
    padding: 1em;
    border-top: 2px solid black;
    text-align: right;
}

.page {
    width: 50%;
    min-width: 600px;
    max-width: 1000px;

    margin: 1em auto;
    padding: 5em 4em;

    border: 2px solid blue;
    border-radius: 20px;
    box-shadow: 5px 5px 10px;

    background-color: hsl(220, 100%, 95%);
}


.game__row {
    display: flex;
    justify-content: space-evenly;
}

.game__button {
    font-size: 6rem;
    border: 4px solid black;
    border-radius: 3rem;
    min-width: 200px;
    min-height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.game__button:hover {
    background-color: hsl(0, 0%, 95%);
    cursor: pointer;
}

.game__result {
    text-align: center;
    font-size: 1.25rem;

    margin: 3rem 0;
}

.game__stats {
    margin: 3rem 0 2rem;

    display: flex;
    justify-content: space-evenly;
}

.game__wins, .game__draws, .game__losses {
    font-size: 1.5rem;
}

.game__reset {
    background-color: hsl(220, 100%, 80%);
    width: 100%;
    padding: 1.125em;

    text-align: center;
    font-weight: 900;

    border-radius: 25px;
}

.game__reset:hover {
    background-color: hsl(220, 100%, 85%);
    box-shadow: 0 0 10px silver;
}


/* UTILITY CLASSES */

.hide {
    display: none;
}

.show {
    display: block;
}

.no-select {
    /* prevents blue text selection highlighting from clicking. used on game buttons and nav menu */
    -webkit-user-select: none;   /* Safari, Chrome, Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Standard syntax */
}